:root {
  --clr-main-text: hsl(0, 0%, 8%);
  --clr-aside-text: hsl(0, 0%, 85%);
  --clr-bg: hsl(0, 0%, 100%);
  --clr-bg-aside: hsl(160, 5%, 25%);

  --clr-title: hsl(226, 84%, 17%);

  --linear-gradient: linear-gradient(
    180deg,
    hsl(344, 85%, 40%),
    hsl(300, 100%, 78%)
  );
}
